{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "max-len": "off",
    "indent": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "import/no-cycle": "off",
    "import/no-named-as-default-member": "off",
    "function-paren-newline": "off",
    "no-underscore-dangle": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "arrow-body-style": ["warn", "always"],
    "object-curly-newline": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-wrap-multilines": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["ReactSelect"],
        "depth": 3
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/extensions": [
      "warn",
      "never",
      {
        "jsx": "always"
      }
    ]
  }
}
